<%- include('../layouts/head.ejs') %>  
    <link rel="stylesheet" href="/css/add-product.css">
</head>
<body>
    <%- include('../layouts/navigation.ejs')%>
    <main class="main">
        <form class="formADD" action="/admin/add" method="POST">
            <div class="inputsDiv">
                <input class="input" type="text" name="title" placeholder="type the name ">
                <input class="input" type="text" name="description" placeholder="some description">
                <input class="input" type="text" name="link" placeholder="type the link image">
                <input class="input" type="number"  step="0.01" name="price"  placeholder="type the price">
                <button class="button" type="submit">Update Product</button>
            </div>    
        </form>
    </main>
</body>
</html>