<header>
    <nav>
        <ul type="none">
            <li><a class="<%= path === /admin/shop ? 'active' : ''  %>" href="/">Shop</a></li>
            <li><a  class="<%= path === / ? 'active' : ''  %>" href="/admin/add">Add Product</a></li>
        </ul>
    </nav>
</header>