<header class="headerMain">
    <nav class="nav">
        <ul class="ul" type="none">
            <li class="li"> <a class="a" href="/">Shop</a></li>
            <li class="li"><a class="a" href="/cart"> Cart</a></li>
            <li class="li"><a class="a" href="/orders"> Orders</a></li>
            <li class="li"><a class="a" href="/products">Products</a></li>
            <li class="li"> <a  class="a" href="/admin/add">Add Product</a></li>
            <li class="li" ><a class="a" href="/admin/products"> Admin Products</a></li>
        </ul>
    </nav>
</header>