*{
    margin: 0;
    padding: 0;
}

.headerMain{
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.904);
    margin-top: 0;
}
.ul{
    display: flex;
    margin: 0px 0px;

}
.li{
    padding: 1rem;
}
.a{
    text-decoration: none;
    color: rgb(52, 192, 52);
    font-size: 25px;
}
.a:hover{
    cursor: pointer;
    color:rgb(115, 236, 115) ;
    font-size: 30px;
}