*{
    margin: 0;
    padding: 0;
}

.headerMain{
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.904);
    margin-top: 0;
}
.ul{
    display: flex;
    margin: 0px 0px;

}
.li{
    padding: 1rem;
}
.a{
    text-decoration: none;
    color: rgb(52, 192, 52);
    font-size: 25px;
}
.a:hover{
    cursor: pointer;
    color:rgb(115, 236, 115) ;
    font-size: 30px;
}
.iten{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.conteudo{
    margin-top: 7rem;
}
.title{
    border-bottom: 1px solid rgb(115, 236, 115);
    color: rgb(115, 236, 115);
    font-size: 70px;
}
.img{
    width: 30rem;
    height: 15rem;
}
.description{
    border-top: 1px solid rgb(115, 236, 115);
    color: rgb(115, 236, 115);
    font-size: 30px;
    padding: 6rem;
}

.button{
    border: 0.5px solid rgb(52, 192, 52);
    padding: 0.7rem ;
    border-radius: 10px;
    background: none;
    color: rgb(52, 192, 52);
}

.button:hover{
    cursor: pointer;
    color:rgb(115, 236, 115);
}